.container{

	display: flex;
	background-color: gray;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}


.item{

background-color: lightblue;
border: 5px solid dimgrey;
padding: 20px;
margin: 10px;
/*
width: 100px;
height: 100px;
*/


}